<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h1>Preguntas</h1>

      <% if @questions.blank? %>
        <div class="alert alert-info">
          <h4>No hay preguntas que contengan el término <%= params[:search] %>.</h4>
        </div>
      <% end %>

      <% if user_signed_in? %>
        <%= link_to  "Hacer una Pregunta", new_question_path, class: "btn btn-primary pull-right" %>
      <% end %>

      <table class="table">
        <tbody>
          <% @questions.each do |question| %>
            <tr>
              <td>Votos</td>
              <td>Respuestas</td>
              <td>
                <h3><%= link_to  question.title, question %></h3>
                <p>Preguntó <%= question.user.email %> hace <%= time_ago_in_words(question.created_at) %></p>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>