<% if @errors %>
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="alert alert-info">
          <ul>
            <% @errors.each do |error| %>
              <li><%= error %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="questions">
        <h1><%= @question.title %></h1>
        <p><%= markdown(@question.description) %></p>
      </div>

      <div class="comments">
        <h3>Commentarios</h3>
        <% @question.comments.each do |comment| %>
          <header class="panel-heading">
            <h4><%= comment.commentable.user.email %> comentó hace <% if !comment.text.blank? %><%= time_ago_in_words(comment.created_at) %><% end %></h4>
          </header>
          <div class="panel-body">
            <%= comment.text %>
          </div>
        <% end %>

        <% if user_signed_in? %>
          <%= form_for [@question, @comment] do |f| %>
            <div class="form-group">
              <%= f.text_area :text, class: "form-control", placeholder: "Agrega un comentario" %>
            </div>
            <div class="actions text-right">
              <%= f.submit "Comentar", class: "btn btn-primary" %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="answers">
        <% if @answers.blank? %>
          <h2>0 Respuesta(s)</h2>
        <% else %>
          <h2><%= @answers.count %> Respuesta(s)</h2>
        <% end %>
        
        <table class="table">
          <tbody>
            <% @answers.each do |answer| %>
              <tr>
                <td>Votos</td>
                <td>
                  <p><%= markdown(answer.body) %></p>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <% if user_signed_in? %>

          <h2>Tu Respuesta</h2>
          <%= form_for [@question, @question.answers.build] do |f| %>
            <div class="form-group">
              <%= f.text_area :body, class: "form-control" %>
            </div>
            <div class="actions text-right">
                <%= f.submit "Responder", class: "btn btn-primary" %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>